* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 3820px;
}

body {
  background-color: #f7f7f7;
  margin-left: 0;
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

main {
  width: 853px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 42px;
  background-color: #4267b2;
  z-index: 9990;
    -moz-box-shadow: inset 0 -5px 5px -5px #000000;
    -webkit-box-shadow: inset 0 -5px 5px -5px #000000;
    box-shadow: inset 0 -5px 5px -5px #000000;
}

.container {
  width: 925px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.name {
  text-align: left;
  display: inline-block;
  width: 425px;
  height: 26px;
  color: #9D9D9D;
  background: white;
  border-radius: 4px;
  margin: 8px 0;
}

.name p {
  margin: 2px 6px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.name img {
  display: inline;
  float: right;
  width: 22px;
}

.navbar .links {
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 16px;
  margin: 8px 10px;
  padding-left: 0px;
}

.navbar .links li {
  margin: auto 10px;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.navbar .links li img{
  width: 26px;
  margin: 0px;
  cursor: pointer;
}

nav div ul li:hover {
  cursor: pointer;
}

.banner {
  background-color: white;
  border: 1px solid #dedede;
}

#cover-photo {
  margin: 0px;
  width: 851px;
  filter: brightness(70%);
}

#prof-photo {
  float: left;
  position: relative;
  left: 30px;
  bottom: 140px;
  width: 168px;
  border: 4px solid white;
  box-shadow:
    1px 1px 1px 1px #dedede;
}

#section-nav {
  margin: 0;
  height: 36px;
  font-size: 15px;
  position: relative;
}

#section-nav a{
  color: #474C8F;
  text-decoration: none;
}

#section-nav li{
  position: relative;
  left: -120px;
  bottom: 8px;
  float: left;
  margin: 0;
  text-align: left;
  display: inline-block;
  list-style: none;
  height: 44px;
}

.banner h1 {
  color: white;
  font-size: 25px;
  position: relative;
  float: left;
  bottom: 50px;
  left: 50px;
  margin: 0;
}

.link-button {
  display: block;
  height: 44px;
  padding: 0 35px;
  background: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
  color: #474C8F;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.section-header {
  text-align: left;
  margin: 10px 10px 5px 10px;
}

.section-header p{
  display: inline;
  position: relative;
  bottom: 5px;
  font-size: 16px;
}

.post-header {
  position: relative;
  left: -20px;
  top: 5px;
  padding: 5px;
  display: block;
  width: 50%;
  margin-bottom: 10px;
  border-bottom: 2px solid #dedede;
}

.post-header p{
  display: inline;
  position: relative;
  bottom: 5px;
  font-size: 18px;
}

.globe-icon {
  display: inline;
  width: 22px;
  margin: auto 4px;
}

#intro {
  display: inline-block;
  font-size: 14px;
  width: 80%;
  padding-bottom: 6px;
  margin-bottom: 9px;
  margin-top: 0;
  border-bottom: 1px solid #dedede;
}

.holder {
  display: inline-block;
}

#right-holder {
  position: relative;
  top: -664px;
  width: 323px;
  float: right;
}

#left-holder {
  width: 510px;
  position: relative;
  left: -170px;
  float: left;
}

#about-me {
    display: block;
}

.about-me {
  display: inline-block;
  float: left;
  position: relative;
  width: 323px;
  height: 223px;
  border-radius: 4px;
  border: 1px solid #dedede;
  padding: 5px;
  background-color: white;
}

.about-me ul {
  list-style: none;
  font-size: 11px;
  padding-left: 4px;
  margin: 0;
}

.about-me li {
  display: block;
  height: 22px;
  text-align: left;
  margin-right: 3px;
}

.about-me li a{
  font-weight: bold;
  text-decoration: none;
}

.about-icons {
  width: 17px;
  display: inline;
  margin: -5px 9px;
}

.basic-post {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  float: right;
  width: 510px;
  background-color: white;
  border: 1px solid #dedede;
  padding: 14px;
  text-align: left;
  border-radius: 4px;
}

.mini-prof-photo {
  display: inline-block;
  width: 40px;
  border: 1px solid #dedede;
  border-radius: 45px;
  margin-right: 4px;
}

.dev-title img{
  width: 150px;
}

.post-name {
  margin: 0;
  font-weight: bold;
  color: #474C8F;
  font-size: 15px;
}

.timestamp {
  margin: 0;
  color: #9aa2af;
  font-size: 13px;
}


.post-globe {
  display: inline;
  width: 20px;
  margin-left: 8px;
}

.post-info {
  display: inline-block;
  font-size: 16px;
}

.post {
  margin: 0;
  font-size: 14px;
}

.portfolio-card img {
  display: block;
  width: 300px;
  margin: 0 auto;
}

#dev .post-info p {
  display: inline;
  font-size: 14px;
}

#dev .post-info p.timestamp {
  margin: 0;
  color: #9aa2af;
  font-size: 13px;
  display: block;
}

#dev .post-info {
  display: inline-block;
  width: 88%;
}
#dev p.bold-blue {
  font-weight: bold;
  color: #474C8F;
  font-size: 14px;
}


.photo-holder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 480px;
  height: 490px;
  margin-top: 6px;
}

.dev-photo {
  display: inline-block;
  width: 225px;
  height: 225px;
  margin: 1px;
  border: 1px solid #dedede;
}

.big {
  width: 243px;
  height: 242px;
}

.left {
  height: 161px;
  width: 235px;
}

.small {
  width: 175px;
  height: 175px;
}

.likes {
  display: inline-block;
  float: left;
  width: 323px;
  border-radius: 4px;
  border: 1px solid #dedede;
  padding: 5px;
  background-color: white;
}

.like-card {
  border: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.like-card img {
  display: inline-block;
  width: 55px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.like-words {
  display: inline-block;
  width: 200px;
  text-align: left;
  margin: 0 0 0 10px;
}

.bold-blue {
  font-weight: bold;
  color: #474C8F;
  font-size: 14px;
  margin: 0px;
}

.subtext {
  color: #c1c1c1;
  font-size: 12px;
  margin: 0px;
}

.contact-me {
  display: inline-block;
  float: left;
  width: 323px;
  height: 173px;
  border-radius: 4px;
  border: 1px solid #dedede;
  padding: 5px;
  background-color: white;
  margin-top: 10px;
}

.contact-me ul {
  list-style: none;
  font-size: 11px;
  padding-left: 8px;
  margin: 0;
}

.contact-me li {
  display: block;
  height: 22px;
  text-align: left;
  font-size: 14px;
}

.people-icon {
  display: inline;
  width: 22px;
  margin: auto 4px;
  border-radius: 5px;
}

.contact-icons {
  width: 17px;
  display: inline;
  margin: -5px 9px;
}

#portfolio .post-info p {
  display: inline;
  font-size: 14px;
}

#portfolio .post-info p.timestamp {
  margin: 0;
  color: #9aa2af;
  font-size: 13px;
  display: block;
}

#portfolio .post-info {
  display: inline-block;
  width: 88%;
}

.link-box {
  margin-top: 8px; 
  width: 484px;
  height: 365px;
  border: 1px solid #dedede;
  box-shadow: 2px 2px 1px -1px rgba(0,0,0,0.4);
}

.link-box img {
  width: 483px;
  height: 275px;
}

.text-box {
  padding-left: 10px;
  color: black;
}

.link-title {
  margin: 0;
  font-family: serif;
}

.tech-used {
  list-style: none;
  margin: 0px;
  font-size: 14px;
}

@media (max-width: 925px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 671px) {
  .name {
    width: 356px;
  }
}

@media (max-width: 622px) {
  main {
    width: 100%;
  }

  .banner {
  background-color: white;
  border: 1px solid #dedede;
}

#cover-photo {
  margin-bottom: -60px;
  width: 851px;
  filter: brightness(70%);
}

#prof-photo {
  position: static;
  width: 168px;
  border: 4px solid white;
  box-shadow:
    1px 1px 1px 1px #dedede;
  z-index: 1;
}

#section-nav {
  margin: 8px auto;
  padding-left: 0;
  height: 36px;
  font-size: 15px;
  position: static;
  border-top: 1px solid #dedede;
}

#section-nav li{
  position: static;
  margin: 0;
  display: inline-block;
  list-style: none;
  height: 44px;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h1 {
  color: black;
  font-size: 25px;
  position: static;
}

.link-button {
  display: block;
  height: 44px;
  padding: 0 35px;
}

  .name {
    width: 306px;
  }

  .navbar .links li {
    margin: auto 8px;
  }

  #left-holder {
    width: 100%;
    position: static;
  }

  .likes {
    display: block;
    float: none;
    width: 95%;
    margin: 0 auto;
  }

  .about-me {
    display: block;
    float: none;
    width: 95%;
    margin: 10px auto;
  }

  .contact-me {
    display: block;
    float: none;
    width: 95%;
    margin: 10px auto;
  }

  #right-holder {
    width: 100%;
    position: static;
  }

  .basic-post {
    display: block;
    float: none;
    width: 95%;
    margin: 10px auto;
  }

  .photo-holder {
    width: 98%;
    height: 295px;
  }

  .dev-photo {
  width: 33%;
  height: auto;
}

.link-box {
  width: 98%;
}

.link-box img{
  width: 100%;
}

.tech-used {
  font-size: 11px;
  padding-right: 4px;
}
}

@media (max-width: 540px) {
  .name {
    width: 256px;
  }
}

@media (max-width: 490px) {
  .name {
    width: 110%;
    margin-right: 20px;
  }
  .navbar .links li {
    margin: auto 2px;
  }

  .navbar .links {
    padding-left: 15rpx;
  }
} 
