* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  margin-left: 0;
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

main {
  width: 852px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 42px;
  background-color: #4267b2;
  z-index: 9990;
    -moz-box-shadow: inset 0 -5px 5px -5px #000000;
    -webkit-box-shadow: inset 0 -5px 5px -5px #000000;
    box-shadow: inset 0 -5px 5px -5px #000000;
}

.contact-info {
  width: 970px; 
  height: 70px; 
  color: white; 
  margin: 0 auto;
}

.info {
  padding: 0;
}

.container {
  width: 85%;
}

.name {
  text-align: left;
  display: inline-block;
  width: 425px;
  height: 26px;
  color: #9D9D9D;
  background: white;
  border-radius: 4px;
  margin: 8px 0;
}

.name p {
  margin: 4px 6px;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.name img {
  display: inline;
  float: right;
  width: 22px;
}

.navbar > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}

.navbar .links {
  width: 300px;
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 16px;
  margin: 8px 10px;
}

.navbar .links li {
  float: right;
  margin: auto 10px;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.navbar .links li img{
  width: 26px;
}

nav div ul li:hover {
  cursor: pointer;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

.banner {
  background-color: white;
  border: 1px solid #dedede;
}

#cover-photo {
  margin: 0px;
  width: 851px;
  filter: brightness(70%);
}

#prof-photo {
  float: left;
  position: relative;
  left: 30px;
  bottom: 140px;
  width: 168px;
  border: 4px solid white;
  box-shadow:
    1px 1px 1px 1px #dedede;
}

#section-nav {
  margin: 0;
  height: 36px;
  font-size: 15px;
  position: relative;
}

#section-nav a{
  color: #474C8F;
  text-decoration: none;
}

#section-nav li{
  position: relative;
  left: -120px;
  bottom: 8px;
  float: left;
  margin: 0;
  text-align: left;
  display: inline-block;
  list-style: none;
  height: 44px;
}

.banner h1 {
  color: white;
  font-size: 25px;
  position: relative;
  float: left;
  bottom: 50px;
  left: 50px;
  margin: 0;
}

.link-button {
  display: block;
  height: 44px;
  padding: 0 35px;
  background: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
  color: #474C8F;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

}

.bio-pic {
  width: 40%;
}

.dev-title img{
  width: 150px;
}

.portfolio-card img {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.contact-area img {
  width: 45px;
}

.dev-title {
  display: inline-block;
  width: 30%;
  float: left;
}

.list-items li {
  display: block;
  float: left;
  overflow: auto;
  margin-left: 5px;
}

.list-items {
  display: inline-block;
  width: 65%;
  overflow: auto;
}

.dev-desc p {
  display: block;
  width: 100%;
}

.porfolio-card {
  display: block;
  width: 85%;
}

.portfolio-card h2 {
  display: inline-block;
  width: 35%;
  float: left;
}

.portfolio-card li {
  display: inline-block;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .name {
    float: none;
    display: block;
  }
  
  .navbar .links li {
    display: block;
    float: none;
    margin: 0;
  }  
  
  .navbar .links {
    display: block;
    width: 100%;
    float: center;
    padding: 0;
  } 
  
  .dev-title {
    width: 100%;
  }
  
  .list-items {
    width: 100%;
  }
  
  .dev-desc {
    width: 100%;
  }
  
  .portfolio-card h2 {
    width: 100%;
  }
  
  .portfolio-card ul {
    width: 100%;
    padding: 0px;
  }
}